body{
    background-color: tan;
    color: black;
}
.navbar{
    background-color: darkolivegreen;
}.navbar a:link{
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

